.intro__row {
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 220, 0.4);
}

.intro__row-reverse {
  flex-direction: row-reverse;
}

.intro__row-text-holder,
.intro__row-image-holder {
  max-width: 50%;
  flex: 1 1 50%;
}

.intro__row-text {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
}

.intro__row-image-holder {
  min-height: 600px;
}

.intro__row-title {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 10px;
}

.intro__row-lines {
  line-height: 25px;
  font-size: 17px;
}

.intro__row-image {
  max-width: 100%;
  min-height: 600px;
}

@media (max-width: 975px) {
  .intro__row {
    flex-direction: column;
  }

  .intro__row-text-holder,
  .intro__row-image-holder {
    max-width: 100%;
    flex: 1 1 100%;
    text-align: center;
  }

  .intro__row-text {
    padding: 40px 20px;
  }

  .intro__row-title {
    font-size: 25px;
  }

  .intro__row-lines {
    line-height: 22px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .intro__row-text {
    padding: 30px 20px;
  }

  .intro__row-title {
    line-height: 28px;
  }

  .intro__row-lines {
    font-size: 13px;
  }

  .intro__row-image-holder,
  .intro__row-image {
    min-height: 400px;
  }
}
