.focus {
  padding: 40px 0 150px 0;
}

.focus__title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

.focus__content {
  margin: 0 auto;
}

.focus__introduction,
.focus__list-item {
  font-size: 18px;
  margin-bottom: 25px;
}

.focus__lists {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  max-width: 1375px;
}

.focus__list {
  list-style: disc;
}

.focus__list-item {
  margin-bottom: 10px;
  padding-left: 7px;
  line-height: 20px;
}

@media (max-width: 975px) {
  .focus {
    padding: 20px 0;
  }

  .focus__title {
    font-size: 43px;
    margin-bottom: 20px;
  }

  .focus__content {
    margin: 0 auto;
    text-align: left;
  }

  .focus__introduction {
    line-height: 23px;
  }

  .focus__list-item,
  .focus__introduction {
    font-size: 17px;
  }

  .focus__lists {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .focus__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .focus__list-item,
  .focus__introduction {
    font-size: 15px;
  }

  .focus__introduction {
    margin-bottom: 20px;
  }

  .focus__list-item {
    margin-bottom: 15px;
  }
}
