.cancellation {
  padding: 24px 0 60px 0;
}

.cancellation__title {
  text-align: center;
  margin-bottom: 20px;
}

.cancellation__lines {
  text-align: center;
}

@media (max-width: 768px) {
  .cancellation {
    padding: 20px 0;
  }

  .cancellation__title {
    margin-bottom: 10px;
  }
}
