.header {
    background-color: rgba(211, 211, 211, 0.3);
}

.header__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 70px;
    max-height: 70px;
    flex: 1 1 70px;
}

.navigation__list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navigation__link {
    display: block;
    font-size: 20px;
    text-decoration: none;
}
