.footer {
  text-align: center;
}

.footer__holder {
  border-top: rgba(0, 0, 0, 0.3) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
  padding: 20px 0 16px 0;
}

.footer__logo {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 20px;
}

.footer__navigation-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.footer__navigation-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.footer__copyright {
  padding: 10px 0;
  font-size: 14px;
}

.footer__social-image {
  max-width: 30px;
  max-height: 30px;
}

@media (max-width: 768px) {
  .footer__logo {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
  }

  .footer__navigation-list {
    flex-direction: column;
    gap: 10px;
  }

  .footer__navigation-link {
    font-size: 13px;
  }

  .footer__social-image {
    max-width: 20px;
    max-height: 20px;
  }

  .footer__copyright {
    font-size: 9px;
  }
}
