.testimonials {
  padding: 40px 0 120px 0;
}

.testimonials__list {
  text-align: center;
}

.testimonials__list-item {
  font-size: 36px;
  font-style: italic;
  margin: 0 auto 15px auto;
  line-height: 45px;
  max-width: 661px;
}

@media (max-width: 975px) {
  .testimonials {
    padding: 40px 0 20px 0;
  }

  .testimonials__list-item {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .testimonials__list-item {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 23px;
  }
}
