.banner {
  position: relative;
  background-image: url("../../assets//images/banner/ursula-prinz.png");
  background-size: cover;
  padding: 225px 0 250px 0;
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.banner__text-holder {
  position: relative;
  z-index: 5;
  text-align: right;
}

.banner__text {
  color: rgba(255, 255, 255, 1);
  max-width: 555px;
  margin: 0 0 15px auto;
}

.banner__title {
  font-size: 60px;
  letter-spacing: 2.8px;
  margin-bottom: 10px;
  line-height: 75px;
}

.banner__tittle-decoration {
  font-weight: 700;
  display: block;
  font-size: 70px;
}

.banner__lines {
  font-size: 15px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .banner {
    padding: 100px 0;
  }

  .banner__text {
    max-width: 260px;
    text-align: left;
    margin: 0;
  }

  .banner__title {
    font-size: 26px;
    margin-bottom: 5px;
    line-height: 33px;
  }

  .banner__lines {
    font-size: 12px;
    line-height: 18px;
  }
}
